/* Userprofile styles*/
.UserProfile {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}
.UserPicture {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.UserName {
  margin: 10px auto;
  font-size: 1.5rem;
}
.UserBio {
  color: #555;
}